Adafruit_NeoPixel
DigisparkCDC
Digispark_Examples
DigisparkIRLib
DigisparkJoystick
DigisparkKeyboard
DigisparkLCD
DigisparkMouse
DigisparkOLED
DigisparkRcSeq
DigisparkRGB
DigisparkSimpleServo
DigisparkSoftRcPulseIn
DigisparkSoftRcPulseOut
DigisparkSoftSerial
DigisparkTinyPinChange
DigisparkTinySoftPwm
DigisparkUSB
EEPROM
LedControl
LPD8806
Nunchuk
OneWire
RF24
SPI
TinyRTClib
TinyWireM
VirtualWire
Wire
WS2811
